.contacto{
    width:                          100%;
    height:                         25px;
}
.NameContact{
    width:                          28%;
    float:                          left;
    cursor:                         pointer;
}
.Phone{
    width:                          28%;
    float:                          left;
}
.Email{
    width:                          22%;
    float:                          left;
}
.ContactOw{
    width:                          calc(22% - 80px);
    float:                          left;
}
.contactoInfo{
    margin-top:                     20px;
    width:                          100%;
    height:                         500px;
    background-color:               red;
    /*display:                        none;*/
}


/*Projects*/

.proyecto{
    width:                          100%;
    height:                         25px;
}
.Name{
    width:                          calc(30% - 80px);
    float:                          left;
    cursor:                         pointer;
}
.Sponsor{
    width:                          23%;
    float:                          left;
}
.Pleader{
    width:                          23%;
    float:                          left;
}
.Company{
    width:                          24%;
    float:                          left;
}

/* Timecards */

.timeCard{
    float:                           left;
    width:                           15.5%;
}
.resource{
    float:                           left;
    width:                           14.5%;
}
.startD{
    float:                           left;
    width:                           12.5%;
}
.endD{
    float:                           left;
    width:                           12.5%;
}
.status{
    float:                           left;
    width:                           10%;
}
.totalDays{
    float:                           left;
    width:                           10%;
}
.totalHours{
    float:                           left;
    width:                           10%;
}
.tProj{
    float:                           left;
    width:                           15%;
}

/* Expenses */
.eName{
    float:                           left;
    width:                           25%;
}
.eTName{
    float:                           left;
    width:                           23%;
}
.eCName{
    float:                           left;
    width:                           17%;
}
.eCategory{
    float:                           left;
    width:                           11%;
}
.eSubmitD{
    float:                           left;
    width:                           13%;
}
.eQty{
    float:                           left;
    width:                           5%;
}
.eStatus{
    float:                           left;
    width:                           6%;
}

/* Assignments */
.aName{
    float:                           left;
    width:                           25%;
}
.aProj{
    float:                           left;
    width:                           22%;
}
.aCons{
    float:                           left;
    width:                           25%;
}
.aBR{
    float:                           left;
    width:                           10%;
}
.aPR{
    float:                           left;
    width:                           10%;
}
.aPO{
    float:                           left;
    width:                           8%;
}

/*POs*/

.poNumber{
    float:                           left;
    width:                           27%;
    cursor:                          pointer;
}
.poAmmount{
    float:                           left;
    width:                           15%;
}
.poProject{
    float:                           left;
    width:                           20%;
}
.poCurrency{
    float:                           left;
    width:                           20%;
}
.poStatus{
    float:                           left;
    width:                           10%;
}
